{% extends 'mail.html.twig' %}

{% block body %}

    <p style="margin: 0 0 10px 0">Перейдите по ссылке ниже, чтобы сбросить свой пароль:</p>

    {% set url = frontend_url('auth/reset/password-confirm', {'token': token.value} ) %}
    <p style="margin: 0"><a style="color: #1a8aee; text-decoration: none" href="{{ url }}"><span style="color: #1a8aee; text-decoration: underline">{{ url }}</span></a></p>

{% endblock %}
